attrs >=17.4
autopep8
black
bump2version >=1.0.1
check-manifest >=0.36
compas_invocations2
compas_pb >= 0.4.4
doc8
flake8
invoke >=0.14
isort
pydocstyle
pytest >=3.2
sphinx_compas2_theme
twine
wheel
-e .
