name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    if: "!contains(github.event.pull_request.labels.*.name, 'docs-only')"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ['3.9', '3.11', '3.12']

    steps:
      - uses: compas-dev/compas-actions.build@v4
        with:
          python: ${{ matrix.python }}
          invoke_lint: true
          invoke_test: false
      - name: Run unit tests
        run: |
          pytest tests/unit

  integration_tests:
    if: "!contains(github.event.pull_request.labels.*.name, 'docs-only')"
    runs-on: 'ubuntu-latest'
    steps:
      - name: Set up docker container
        run: |
          docker run -d --name nanomq -p 1883:1883 -p 8083:8083 -p 8883:8883 emqx/nanomq:latest
          docker ps -a
      - uses: compas-dev/compas-actions.build@v4
        with:
          python: '3.11'
          invoke_lint: false
          invoke_test: false
      - name: Install test dependencies
        run: |
          pip install -r tests/integration/requirements.txt
      - name: Run integration tests
        run: |
          pytest tests/integration
      - name: Tear down docker container
        run: |
          docker rm -f nanomq

  build-cpython-components:
    runs-on: windows-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]

    - name: Create CPython Grasshopper user objects
      run: |
        invoke build-cpython-ghuser-components

    - uses: actions/upload-artifact@v5
      with:
        name: compas_eve_components
        path: src/compas_eve/ghpython/components/ghuser
