name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ['3.10']

    steps:
      - uses: compas-dev/compas-actions.build@v4
        with:
          invoke_lint: true
          check_import: false
          use_conda: false
          invoke_test: false
          python: ${{ matrix.python }}
      - name: Run unit tests
        run: |
          pytest tests/unit

  integration_tests:
    if: "!contains(github.event.pull_request.labels.*.name, 'docs-only')"
    runs-on: 'ubuntu-latest'
    steps:
      - name: Set up docker container
        run: |
          docker run -d --name nanomq -p 1883:1883 -p 8083:8083 -p 8883:8883 emqx/nanomq:latest
          docker ps -a
      - uses: compas-dev/compas-actions.build@v4
        with:
          python: '3.11'
          invoke_lint: false
          invoke_test: false
      - name: Run integration tests
        run: |
          pytest tests/integration
      - name: Tear down docker container
        run: |
          docker rm -f nanomq

  Publish:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - uses: compas-dev/compas-actions.publish@v3
        with:
          publish_to_pypi: true
          pypi_token: ${{ secrets.PYPI }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          python: '3.10'
